<header class="header">
    <div class="logo header__logo">
        <img src="img/logo.png" alt="Студия пилатеса">
        <span class="logo__text">
            PILATES+
        </span>
    </div>
    <button data-nav-toggle class="nav-btn">
        <span class="nav-btn__bar nav-btn__bar--top"></span>
        <span class="nav-btn__bar nav-btn__bar--middle"></span>
        <span class="nav-btn__bar nav-btn__bar--bottom"></span>
    </button>
    <div class="header__phone">+7 918 365 06 07</div>
    <nav class="nav">
        <ul class="nav__links">
            <li class="nav__link"><a data-scroll href="#about">О пилатесе</a></li>
            <li class="nav__link"><a data-scroll href="#prices">Расписание и стоимость</a></li>
            <li class="nav__link"><a data-scroll href="#training">Как проходят занятия</a></li>
            <li class="nav__link"><a data-scroll href="#reviews">Отзывы</a></li>
            <li class="nav__link"><a data-scroll href="#contacts">Контакты</a></li>
        </ul>
    </nav>
</header>